<!-- activation_email.html -->

<h3>Welcome to League Of Tennis</h3>

<p>Your email address has been registered with League of Tennis. By clicking the link below you can activate your account and complete your profile:</p>

<p>{{ protocol }}://{{ domain }}/{{ path }}/{{ token }}</p>

<p>If you did not associate your address with a Sendinblue account, please ignore this message and do not click on the link above.</p>

<p>If you experience any issues with the button above, copy and paste the URL below into your web browser.</p>